/**,*/
/*. {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

body {
    background-color: darkslategray;
    /*position: relative;*/
}

.container {
    width: max-content;
    height: max-content;
    margin: 10% auto;
    text-align: center;
    /*border: black solid 1px;*/
}

kbd {
    display: inline-block;
    padding: 130px 0 20px 0;
    /*height: 150px;*/
    /*line-height: 150px;*/
    /*vertical-align: bottom;*/
    width: 50px;
    border: black solid 1px;
    background-color: white;
    /*margin-left: 0;*/
    /*justify-items: end;*/
    /*text-align: center;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    vertical-align: bottom;
}